<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Startpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>
<body>
    <div id="app">
        <form id="search-form" action="https://www.google.com/search" method="get">
            <input id="search-bar" type="text" autofocus placeholder="" name="q" alt="search">
            <input id="submit-button" type="submit" value="Search">
        </form>
        <section id="link-section" unselectable="on" onselectstart="return false;" onmousedown="return false;">
         
            <link-item
                v-for="item in shortcuts"
                v-bind:link="item"
                v-bind:key="item.id">
            </link-item>
            
            
        </section>
        <button onclick="ToggleAddModal()" id="open-modal"></button>
        <div id="add-link-modal" class="modal-placeholder">
            <div class="close-modal-placeholder" onclick="ToggleAddModal()"></div>
            <div class="modal">
                <form v-on:submit.prevent="addNewLink" class="content">
                    <div class="group">
                        <input v-model="newLinkName" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Label</label>
                    </div>
                    <div class="group">
                        <input v-model="newLinkUrl" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Web address</label>
                    </div>
                    <button type="submit">Add</button>
                </form>

            </div>
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>