@import url('https://rsms.me/inter/inter-ui.css');
body{
    font-family: 'Inter UI', sans-serif;
    background-color: #222C36;
}
a{
    text-decoration: none;
}
#search-form{
    margin-top: 15em;
    text-align: center;
}
#search-bar{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    width: 300px;
    padding: 5px 0px 10px 0px;
    min-width: 30%;
    display: initial;
    margin-left: 60px;
    font-size: 1.5em;
    outline: none;
    color: rgb(236, 236, 236);
    margin: 0px;
}
#searchbar:hover, #searchbar:active ,#searchbar:focus{
    box-shadow: 0px 5px 20px rgba(37, 37, 63, 0.30);
}
#submit-button{display: none;}
#link-section{
    max-width: 900px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    
} 

.link-box-wrapper{
    display: inline-block;
    margin: 10px;
    height: 105px;
    width: 120px;
    padding: 10px;
    border-radius: 15px;
}
.link-box-wrapper:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.link-box{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.box-image-wrapper{
    height: 50px;
    width: 80px;
    text-align: center;
    margin: auto;
}
.link-box img{
    position: relative;
    max-width: 80px;
    max-height: 50px;
    border-radius: 15px;
}
.link-box .name{
    position: relative;
    font-size: 16px;
    color: white;
    width: 100%;
    text-align: center;
}
