@import url('https://rsms.me/inter/inter-ui.css');

$colorgreen: #a2ccb6;
$colororange: #fceeb5;
$colorred: #ee786e;
$hl-color: #2196F3;
$muted-color: #efefef;
$dark: rgba($colorgreen, 0.25);
$faded: rgba($colorgreen, 0.80);
$trans-time: 300ms;
$width: 100%;
*,
:before,
:after {
  box-sizing: border-box;
}
html, body{
    min-height: 100%;
}
body{
    font-family: 'Inter UI', sans-serif;
    background-color: #222C36;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 3rem;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 1.5em;
    border: none;
    -webkit-appearance: none;
}
.button {
    
    background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: bold;
  }
  
.button:hover {
animation-name: gradient;
-webkit-animation-name: gradient;
animation-duration: 2s;
-webkit-animation-duration: s;
animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
animation-fill-mode: forwards;
-webkit-animation-fill-mode: forwards;
}

.button2{
    background-color: transparent;
    color: #c2c2c2;
    text-align: center;
    font-weight: bold;
}
.button2.active{
    border-top: solid $colorgreen 2px;
    

}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
100% {
    background-position: 100%;
}
}
#search-form{
    margin-top: 15em;
    text-align: center;
}
#search-bar{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $dark;
    width: 300px;
    padding: 5px 0px 10px 0px;
    min-width: 30%;
    display: initial;
    margin-left: 60px;
    font-size: 1.5em;
    outline: none;
    color: rgb(236, 236, 236);
    margin: 0px;
    transition: ease-in-out 0.75s;
}
#search-bar:hover, #search-bar:active ,#search-bar:focus{
    border-bottom: 3px solid $faded;
}
#submit-button{display: none;}
#link-section{
    max-width: 900px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
} 

.link-box-wrapper{
    display: inline-block;
    margin: 10px;
    max-width: 250px;
    border-radius: 15px;
    transition: background-color ease-in-out 0.25s;
}
.link-box-wrapper:hover, .link-box-wrapper:active, .link-box-wrapper:focus{
    background-color: rgba(12, 4, 32, 0.1);
}
.link-box{
    display: block;
    padding: 15px 30px 18px 30px;
}
.box-image-wrapper{
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
.link-box img{
    position: relative;
    max-width: 16px;
    max-height: 16px;
    border-radius: 15px;
}
.link-box .name{
    position: relative;
    font-size: 16px;
    color: white;
    display: inline;
    vertical-align: middle;
    padding-left: 10px;
}
#open-modal{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 100px;
    width: 100px;
    border-radius: 100px 0px 0px 0px;
    color: transparent;
    transition: opacity ease-in-out 0.75s;
    opacity: 0;

}
#open-modal:hover{
    opacity: 1;
}
.modal-placeholder{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    overflow: hidden;
    animation: animateModal .75s cubic-bezier(.04,.67,.42,.92);
    background-color: rgba(0, 0, 0, .1);
    .close-modal-placeholder{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .modal{
        h1{
            color: white;
        }
        background-color:#414950 ;
        border-radius: 8px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 700px;
        overflow-y: hidden;
        overflow-x: hidden;
        margin: auto;
        padding: 0 40px 40px 40px;
        text-align: center;
        position: relative;
        max-height: 100vh;
        .content{
            position: relative;
            display: none;
            max-height: calc(100vh - 50px);
            overflow-y: auto;
            
            .group {
                position: relative;
                margin: 45px 0;
            }
            
            textarea {
                resize: none;
            }
            button{
                width: 100%;
            }
            input,
            textarea {
                background: none;
                color: $muted-color;
                font-size: 18px;
                padding: 10px 10px 10px 5px;
                display: block;
                width: $width;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid $muted-color;
                &:focus {
                outline: none;
                }
                &:focus ~ label,
                &:valid ~ label {
                top: -14px;
                font-size: 12px;
                color: $colorgreen;
                }
                &:focus ~ .bar:before {
                width: $width;
                }
            }
            
            label {
                color: $muted-color;
                font-size: 16px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: $trans-time ease all;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    padding: 10px 0px;
                    text-align: left;
                }
                img{
                    padding: 13px;
                    display: inline;
                    vertical-align: middle;
                }
                input, button{
                    display: inline-block;
                    width: auto;
                }
                button{
                    height: 41px;
                    width: 41px;
                    padding: 10px;
                    border-radius: 5px;
                    float: right;
                }
                input:not(:first-child), button:not(:first-child){
                    margin-left: 5px;
                }
            }
            
        }
        .show{
            display: block;
        }
    }
 
}

@keyframes animateModal {
    0% {top: -1000px; scale: 0.7; background-color: transparent;}
    50% {top: 0px; scale: 1; background-color: transparent;}
    100% {background-color: rgba(0, 0, 0, 0.1);}
}
.show-flex{
    display: flex;
}